<app-create-content (insertcontentevent)="insertcontentevent($event)" [error]="errormessage">

</app-create-content>

<input [(ngModel)]="searchtext" placeholder="search a title">
<button class="search" on-click="search()">search</button>
<div [ngSwitch]='searchfound'>
    <span class="true" *ngSwitchCase='"true"'>A title has that name</span>
    <span class="false" *ngSwitchCase='"false"'>A title does not have that name</span>
</div>
<app-content-card [single]="true" [card]="singlecontentitem">
</app-content-card>
<app-content-card *ngFor="let content of contentList | types: 'Samsung'" [card]="content">
</app-content-card>
<app-content-card *ngFor="let content of contentList | types:'Iphone'" [card]="content">
</app-content-card>
<app-content-card *ngFor="let content of contentList | types:'Pixel'" [card]="content">
</app-content-card>
<app-content-card *ngFor="let content of contentList | types:''" [card]="content">
</app-content-card>