<h1>Create Content</h1>
    <label for="id">ID:</label>
    <input [(ngModel)]="id"><br>
    <label for="title">Title:</label>
    <input [(ngModel)]="title"><br>
    <label for="description">Description:</label>
    <input [(ngModel)]="description"><br>
    <label for="creator">Creator:</label>
    <input [(ngModel)]="creator"><br>
    <label for="imgURL">Image URL:</label>
    <input [(ngModel)]="imgURL"><br>
    <label for="type">Type:</label>
    <input [(ngModel)]="type"><br>
    <label for="tags">Tags: seperate by ,</label>
    <input [(ngModel)]="tags"><br>
    <button (click)="insert()">Submit</button>
    <div [ngSwitch]="error">
        <span class="true" *ngSwitchCase='true'>An error has ocurred</span>
        <span class="false" *ngSwitchCase='false'>all good</span>
    </div>  
