<div [ngStyle]="{'box-shadow':single===true?'5px 10px':'none'}" class="{{card.type}}"> 
    <h2>{{ card.title }}</h2>
    <p>{{ card.description }}</p>
    <h3>Creator: {{ card.creator }}</h3>
    <div *ngIf="card.imgURL">
        <img (click)="onclick(card.id,card.title)" [src]="card.imgURL" alt="{{ card.title }}">
    </div>
    <div *ngIf="!card.imgURL">
        <img (click)="onclick(card.id,card.title)" src="https://cdn-icons-png.freepik.com/256/0/191.png" alt="{{ card.title }}">
    </div>
    <p appHoveraffect type="underline">Type: {{ card.type }}</p>
    <p>Tags:</p>
    <ul>
        <li appHoveraffect type="bold" *ngFor="let tag of card.tags">{{tag}}</li>
    </ul>
</div>