div:first-of-type{
    border: 2px solid black;
}
div{
    border: 1px solid black;
    width: auto;
}
.Samsung{
background-color: bisque;
font-size: larger;
color: brown;
}
.Iphone{
    background-color: lightblue;
    font-size: xx-large;
    color: silver;
}
.Pixel{
    background-color: chocolate;
    font-size: x-large;
    color: darkblue;
}
img{
    width: 70%;
}